# **Fittlyf Data Science Assignment**
This python notebook contains the seven assignements/tasks given during the interview process of Fittlyf for the position of a Data Science Intern.

## *Importing the dependencies:*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
%matplotlib inline

In [2]:
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

## *Reading the data:*

Taking the given data "unemployment_analysis.csv" as input, as a pandas dataframe:

In [3]:
df = pd.read_csv('/content/unemployment_analysis.csv')

Converting strings into floats (6.8 lacs to 6.8) for all the columns containing years:

*Here, we define a function 'convert_to_float' which takes a string as input, and then splits the strings on the whitespace. It, then converts the first part of the string into a float and returns it.*

In [4]:
def convert_to_float(year_str):
    try:
        return float(year_str.split()[0])
    except:
        return year_str

*Now, for every column where the column name is numeric, we apply the 'convert_to_float' function.*

In [5]:
for column in df.columns:
    if column.isnumeric():
        df[column] = df[column].apply(convert_to_float)

*Below is the dataframe where all the year-strings have been converted into float values.*

In [6]:
df

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

Displaying the column names with their datatypes:

In [7]:
print(df.dtypes)

Country Name     object
Country Code     object
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

Generating the unique country names along with their corresponding country code:

*Here, we create a new pandas dataframe named 'country_df' which contains only two coumns, country name and country code.*

In [8]:
country_df = df[['Country Name', 'Country Code']]

*We will drop the duplicate row values from the columns to generate only unique values of country name/code.*

In [9]:
country_df = country_df.drop_duplicates()
country_df

                    Country Name Country Code
0    Africa Eastern and Southern          AFE
1                    Afghanistan          AFG
2     Africa Western and Central          AFW
3                         Angola          AGO
4                        Albania          ALB
..                           ...          ...
230                        Samoa          WSM
231                  Yemen, Rep.          YEM
232                 South Africa          ZAF
233                       Zambia          ZMB
234                     Zimbabwe          ZWE

[235 rows x 2 columns]

Finding all the unemployed people throughout all the years, for each country:

*The function 'unemployment_sum' separates the columns having float values, and then returns the sum of all the columns, for each row, along with the corresponding country name.*

In [10]:
def row_sum(row):
    num_cols = [col for col in df.columns if col.isnumeric()]
    row_sum = row[num_cols].sum()
    return pd.Series({'Country Name': row['Country Name'], 'Unemployed People': row_sum})

*We store the sum of all the row values in 'sums'and then print that.*

In [11]:
unemployment_sum_df = df.apply(row_sum, axis=1)
unemployment_sum_df

                    Country Name  Unemployed People
0    Africa Eastern and Southern             224.57
1                    Afghanistan             345.38
2     Africa Western and Central             153.27
3                         Angola             169.02
4                        Albania             505.86
..                           ...                ...
230                        Samoa             180.98
231                  Yemen, Rep.             365.60
232                 South Africa             875.21
233                       Zambia             407.96
234                     Zimbabwe             160.50

[235 rows x 2 columns]

## *Data Cleaning:*

### **Task 1:**
Write a function in python called data_cleaning() which, when called, would perform the following activity:
1. Find for any missing value in all the columns, display them. If any missing value exists, then replace them with the average of the corresponding country. Then, again, check for null values.
2. For the countries ‘Benin’, ‘Bahrain’, find if any outliers exist. If yes, replace them with mean/median/mode.
3. Create a new column, named, “Year”, which would have all the years as per each country & beside that column, add a new one named, “No. of unemployed”, which would have the corresponding total values.
4. Change the column name “Country Name” to “Country_name” & “Country Code” to “Country_code”.

In [12]:
import pandas as pd
import numpy as np
from scipy import stats

def data_cleaning(df):
    # Rename columns
    df.rename(columns={'Country Name': 'Country_name', 'Country Code': 'Country_code'}, inplace=True)
    
    # Check for missing values
    missing_values = df.isnull().sum()
    missing_cols = missing_values[missing_values > 0]
    print("Missing Values:\n", missing_cols)

    # finding the rows which contain the missing column values
    missing_rows = df[df.isnull().any(axis=1)]

    # Replace missing values with mean of row (excluding string columns and missing values)
    for index, row in missing_rows.iterrows():
        for col in missing_cols.index:
            if pd.isnull(row[col]) and df[col].dtype != 'object':
                # Exclude missing values and non-numeric values from mean calculation
                row_mean = np.mean(pd.to_numeric(row, errors='coerce').dropna())
                df.loc[index, col] = row_mean
    
    # Check for missing values
    missing_values = df.isnull().sum()
    missing_cols = missing_values[missing_values > 0]
    print(missing_cols)

    
    # Replace outliers in 'Benin' and 'Bahrain' with median of corresponding row values
    for country in ['Benin', 'Bahrain']:
        for year in range(1991, 2022):
            median = np.median(df.loc[(df['Country_name'] == country) & (df[str(year)].notnull()), str(year)])
            q1, q3 = np.percentile(df.loc[(df['Country_name'] == country) & (df[str(year)].notnull()), str(year)], [25, 75])
            iqr = q3 - q1
            lower_bound = q1 - (1.5 * iqr)
            upper_bound = q3 + (1.5 * iqr)
            if lower_bound <= median <= upper_bound:
                df.loc[(df['Country_name'] == country) & (df[str(year)].notnull()), str(year)] = median
            else:
                df.loc[(df['Country_name'] == country) & (df[str(year)].notnull()), str(year)] = df.loc[(df['Country_name'] == country) & (df[str(year)].notnull()), str(year)].mode()[0]
    
    # Create 'Year' and 'No. of Unemployed' columns
    years = [str(year) for year in range(1991, 2022)]
    new_df = pd.DataFrame(columns=['Country_name', 'Country_code', 'Year', 'No. of unemployed'])
    for country in df['Country_name'].unique():
        for year in years:
            new_row = {'Country_name': country, 'Country_code': df.loc[df['Country_name'] == country, 'Country_code'].iloc[0], 'Year': year, 'No. of unemployed': df.loc[df['Country_name'] == country, year].iloc[0]}
            new_df = new_df.append(new_row, ignore_index=True)
    
    return new_df

In [ ]:
new_df = data_cleaning(df)

In [14]:
new_df

                     Country_name Country_code  Year  No. of unemployed
0     Africa Eastern and Southern          AFE  1991               7.80
1     Africa Eastern and Southern          AFE  1992               7.84
2     Africa Eastern and Southern          AFE  1993               7.85
3     Africa Eastern and Southern          AFE  1994               7.84
4     Africa Eastern and Southern          AFE  1995               7.83
...                           ...          ...   ...                ...
7280                     Zimbabwe          ZWE  2017               4.78
7281                     Zimbabwe          ZWE  2018               4.80
7282                     Zimbabwe          ZWE  2019               4.83
7283                     Zimbabwe          ZWE  2020               5.35
7284                     Zimbabwe          ZWE  2021               5.17

[7285 rows x 4 columns]

### **Task 2:**
Write a function called descriptive_stats(country_code) which would –
1. Give the mean, median, mode & standard deviation for the parametrized country over all the years. [e.g., descriptive_stats(‘WSM’) would give the descriptive statistics of this country.]
2. Give the year during which the country’s (of the passed country_code) unemployment was minimum & maximum.
3. Find the top 5 countries which had maximum unemployment in 2021.
4. Find the top 3 countries that had unemployment greater than 5 lacs in the year 2021.
5. Calculate the change (in percentage) the countries (from ques. 3) saw in unemployment starting from 1991 to 2021 (year on year). [for e.g., change_1 = (1991_value – 1992_value.)/1991_value, change_2 = (1992_val – 1993_val)/1992_val & so on.]

In [20]:
def descriptive_stats(country_code):
    # Filter data for the given country
    country_data = new_df[new_df['Country_code'] == country_code]
    
    # Compute mean, median, mode, and standard deviation
    mean = country_data['No. of unemployed'].mean()
    median = country_data['No. of unemployed'].median()
    mode = country_data['No. of unemployed'].mode().values[0]
    std = country_data['No. of unemployed'].std()
    
    print(f"Descriptive statistics for {country_code}:")
    print(f"Mean: {mean:.2f}")
    print(f"Median: {median:.2f}")
    print(f"Mode: {mode:.2f}")
    print(f"Standard deviation: {std:.2f}")
    
    # Find year with minimum and maximum unemployment
    min_year = country_data.loc[country_data['No. of unemployed'].idxmin(), 'Year']
    max_year = country_data.loc[country_data['No. of unemployed'].idxmax(), 'Year']
    
    print(f"\nYear with minimum unemployment for {country_code}: {min_year}")
    print(f"Year with maximum unemployment for {country_code}: {max_year}")
    
    # Find top 5 countries with maximum unemployment in 2021
    top_5_countries = new_df[new_df['Year'] == '2021'].sort_values('No. of unemployed', ascending=False).head(5)['Country_name'].values
    print(f"\nTop 5 countries with maximum unemployment in 2021: {', '.join(top_5_countries)}")
    
    # Find top 3 countries with unemployment greater than 5 lacs in 2021
    top_3_countries = new_df[(new_df['Year'] == '2021') & (new_df['No. of unemployed'] > 500000)].sort_values('No. of unemployed', ascending=False).head(3)['Country_name'].values
    print(f"\nTop 3 countries with unemployment greater than 5 lacs in 2021: {', '.join(top_3_countries)}")
    
    # Calculate year-on-year change in unemployment
    for year in range(1991, 2021):
        current_val = country_data.loc[country_data['Year'] == str(year), 'No. of unemployed'].values[0]
        next_val = country_data.loc[country_data['Year'] == str(year+1), 'No. of unemployed'].values[0]
        change = ((current_val - next_val) / current_val) * 100
        print(f"\nYear-on-year change in unemployment for {country_code} from {year} to {year+1}: {change:.2f}%")

In [21]:
descriptive_stats('USA')

Descriptive statistics for USA:
Mean: 5.91
Median: 5.53
Mode: 4.62
Standard deviation: 1.62

Year with minimum unemployment for USA: 2019
Year with maximum unemployment for USA: 2010

Top 5 countries with maximum unemployment in 2021: South Africa, Djibouti, Eswatini, West Bank and Gaza, Botswana

Top 3 countries with unemployment greater than 5 lacs in 2021:

Year-on-year change in unemployment for USA from 1991 to 1992: -10.29%

Year-on-year change in unemployment for USA from 1992 to 1993: 8.00%

Year-on-year change in unemployment for USA from 1993 to 1994: 11.30%

Year-on-year change in unemployment for USA from 1994 to 1995: 7.68%

Year-on-year change in unemployment for USA from 1995 to 1996: 3.54%

Year-on-year change in unemployment for USA from 1996 to 1997: 8.26%

Year-on-year change in unemployment for USA from 1997 to 1998: 9.80%

Year-on-year change in unemployment for USA from 1998 to 1999: 6.43%

Year-on-year change in unemployment for USA from 1999 to 2000: 5.45%

Year-on-year change in unemployment for USA from 2000 to 2001: -18.55%

Year-on-year change in unemployment for USA from 2001 to 2002: -22.20%

Year-on-year change in unemployment for USA from 2002 to 2003: -3.63%

Year-on-year change in unemployment for USA from 2003 to 2004: 7.68%

Year-on-year change in unemployment for USA from 2004 to 2005: 8.14%

Year-on-year change in unemployment for USA from 2005 to 2006: 9.06%

Year-on-year change in unemployment for USA from 2006 to 2007: 0.00%

Year-on-year change in unemployment for USA from 2007 to 2008: -25.11%

Year-on-year change in unemployment for USA from 2008 to 2009: -60.03%

Year-on-year change in unemployment for USA from 2009 to 2010: -4.11%

Year-on-year change in unemployment for USA from 2010 to 2011: 7.06%

Year-on-year change in unemployment for USA from 2011 to 2012: 9.83%

Year-on-year change in unemployment for USA from 2012 to 2013: 8.67%

Year-on-year change in unemployment for USA from 2013 to 2014: 16.28%

Year-on-year change in unemployment for USA from 2014 to 2015: 14.42%

Year-on-year change in unemployment for USA from 2015 to 2016: 7.77%

Year-on-year change in unemployment for USA from 2016 to 2017: 10.47%

Year-on-year change in unemployment for USA from 2017 to 2018: 10.55%

Year-on-year change in unemployment for USA from 2018 to 2019: 5.90%

Year-on-year change in unemployment for USA from 2019 to 2020: -119.35%

Year-on-year change in unemployment for USA from 2020 to 2021: 32.17%

## *Prescriptive Statistics:*

**Ques 1.** After getting statistics for a country over all years, can you tell in which year the country having country_code ‘BGR’ had the minimum unemployment issue?

In [23]:
# Running the descriptive_stats function for 'BGR'
descriptive_stats('BGR')

Descriptive statistics for BGR:
Mean: 10.92
Median: 11.26
Mode: 11.10
Standard deviation: 4.06

Year with minimum unemployment for BGR: 2019
Year with maximum unemployment for BGR: 2001

Top 5 countries with maximum unemployment in 2021: South Africa, Djibouti, Eswatini, West Bank and Gaza, Botswana

Top 3 countries with unemployment greater than 5 lacs in 2021:

Year-on-year change in unemployment for BGR from 1991 to 1992: -37.84%

Year-on-year change in unemployment for BGR from 1992 to 1993: -7.19%

Year-on-year change in unemployment for BGR from 1993 to 1994: 21.95%

Year-on-year change in unemployment for BGR from 1994 to 1995: 13.28%

Year-on-year change in unemployment for BGR from 1995 to 1996: -12.61%

Year-on-year change in unemployment for BGR from 1996 to 1997: -9.60%

Year-on-year change in unemployment for BGR from 1997 to 1998: 10.95%

Year-on-year change in unemployment for BGR from 1998 to 1999: -15.57%

Year-on-year change in unemployment for BGR from 1999 to 2000: -15.04%

Year-on-year change in unemployment for BGR from 2000 to 2001: -22.81%

Year-on-year change in unemployment for BGR from 2001 to 2002: 9.09%

Year-on-year change in unemployment for BGR from 2002 to 2003: 24.19%

Year-on-year change in unemployment for BGR from 2003 to 2004: 12.31%

Year-on-year change in unemployment for BGR from 2004 to 2005: 16.28%

Year-on-year change in unemployment for BGR from 2005 to 2006: 11.21%

Year-on-year change in unemployment for BGR from 2006 to 2007: 23.13%

Year-on-year change in unemployment for BGR from 2007 to 2008: 18.46%

Year-on-year change in unemployment for BGR from 2008 to 2009: -21.57%

Year-on-year change in unemployment for BGR from 2009 to 2010: -50.73%

Year-on-year change in unemployment for BGR from 2010 to 2011: -9.53%

Year-on-year change in unemployment for BGR from 2011 to 2012: -8.97%

Year-on-year change in unemployment for BGR from 2012 to 2013: -5.46%

Year-on-year change in unemployment for BGR from 2013 to 2014: 11.75%

Year-on-year change in unemployment for BGR from 2014 to 2015: 19.96%

Year-on-year change in unemployment for BGR from 2015 to 2016: 17.18%

Year-on-year change in unemployment for BGR from 2016 to 2017: 18.63%

Year-on-year change in unemployment for BGR from 2017 to 2018: 15.42%

Year-on-year change in unemployment for BGR from 2018 to 2019: 18.81%

Year-on-year change in unemployment for BGR from 2019 to 2020: -21.04%

Year-on-year change in unemployment for BGR from 2020 to 2021: -5.86%

*From the above output, we can see that the country with the country code 'BGR' had minimum unemployment issues in the year 2009. From 2009 to 2010, the change in unemployment rates were -50% which shows that the country's employment rates were increasing during 2009.*

**Ques 2.** Create a new dataframe which would give us the country names along with their corresponding country codes. We would also have a new column along each country which would give us the increase or decrease percentage in unemployment that each country saw from 1991 to 2021.

In [25]:
# calculating the change in percentage in unemployment for each country from 1991 to 2021
change = (new_df['No. of unemployed'].iloc[-1] - new_df['No. of unemployed'].iloc[0]) / new_df['No. of unemployed'].iloc[0] * 100

# Calculate change in unemployment for each country
change = []
for country in new_df['Country_name'].unique():
    country_df = new_df[new_df['Country_name'] == country]
    change.append((country, country_df['Country_code'].iloc[0], (country_df['No. of unemployed'].iloc[-1] - country_df['No. of unemployed'].iloc[0]) / country_df['No. of unemployed'].iloc[0] * 100))

# Create new dataframe
df_change = pd.DataFrame(change, columns=['Country_name', 'Country_code', 'Change'])

# Sort by change in unemployment in descending order
df_change.sort_values(by='Change', ascending=False, inplace=True)

In [27]:
df_change

            Country_name Country_code       Change
8                Armenia          ARM  1206.250000
107      Kyrgyz Republic          KGZ   810.000000
21               Belarus          BLR   690.000000
11            Azerbaijan          AZE   631.111111
125            Lithuania          LTU   618.181818
..                   ...          ...          ...
120            Sri Lanka          LKA   -63.233288
45                  Cuba          CUB   -65.063291
176                Qatar          QAT   -67.901235
166               Poland          POL   -74.036980
214  Trinidad and Tobago          TTO   -74.082073

[235 rows x 3 columns]

**Ques 3.** Can you compare between the minimum unemployment seen over all years for the country ‘Japan’, with the value seen in the previous & next 1 year of that year? Write a brief note on the same.

In [30]:
# calling the descriptive_stats function for Japan 
descriptive_stats('JPN')

Descriptive statistics for JPN:
Mean: 3.76
Median: 3.89
Mode: 2.80
Standard deviation: 1.00

Year with minimum unemployment for JPN: 1991
Year with maximum unemployment for JPN: 2002

Top 5 countries with maximum unemployment in 2021: South Africa, Djibouti, Eswatini, West Bank and Gaza, Botswana

Top 3 countries with unemployment greater than 5 lacs in 2021:

Year-on-year change in unemployment for JPN from 1991 to 1992: -4.76%

Year-on-year change in unemployment for JPN from 1992 to 1993: -13.64%

Year-on-year change in unemployment for JPN from 1993 to 1994: -16.00%

Year-on-year change in unemployment for JPN from 1994 to 1995: -10.34%

Year-on-year change in unemployment for JPN from 1995 to 1996: -6.25%

Year-on-year change in unemployment for JPN from 1996 to 1997: 0.00%

Year-on-year change in unemployment for JPN from 1997 to 1998: -20.59%

Year-on-year change in unemployment for JPN from 1998 to 1999: -14.63%

Year-on-year change in unemployment for JPN from 1999 to 2000: -1.06%

Year-on-year change in unemployment for JPN from 2000 to 2001: -5.68%

Year-on-year change in unemployment for JPN from 2001 to 2002: -7.37%

Year-on-year change in unemployment for JPN from 2002 to 2003: 2.60%

Year-on-year change in unemployment for JPN from 2003 to 2004: 9.90%

Year-on-year change in unemployment for JPN from 2004 to 2005: 5.92%

Year-on-year change in unemployment for JPN from 2005 to 2006: 5.84%

Year-on-year change in unemployment for JPN from 2006 to 2007: 7.16%

Year-on-year change in unemployment for JPN from 2007 to 2008: -2.83%

Year-on-year change in unemployment for JPN from 2008 to 2009: -26.75%

Year-on-year change in unemployment for JPN from 2009 to 2010: -0.59%

Year-on-year change in unemployment for JPN from 2010 to 2011: 10.78%

Year-on-year change in unemployment for JPN from 2011 to 2012: 4.18%

Year-on-year change in unemployment for JPN from 2012 to 2013: 8.26%

Year-on-year change in unemployment for JPN from 2013 to 2014: 10.00%

Year-on-year change in unemployment for JPN from 2014 to 2015: 5.56%

Year-on-year change in unemployment for JPN from 2015 to 2016: 8.82%

Year-on-year change in unemployment for JPN from 2016 to 2017: 9.68%

Year-on-year change in unemployment for JPN from 2017 to 2018: 14.29%

Year-on-year change in unemployment for JPN from 2018 to 2019: 0.00%

Year-on-year change in unemployment for JPN from 2019 to 2020: -16.67%

Year-on-year change in unemployment for JPN from 2020 to 2021: 0.00%

*According to the available data, Japan witnessed its lowest unemployment rate during the 2008-2009 period, which showed a remarkable increase of 26.75% in employment rate. The preceding year, i.e., 2007, the unemployment rate in Japan was recorded as -2.83%, indicating a significant increase in job opportunities within a year. In the subsequent year of 2009-2010, the unemployment rate dropped further to -0.59%, highlighting a continued upward trend in employment rates. It is noteworthy that Japan's significant increase in employment occurred during a period that coincided with a global economic recession. The fact that the country managed to achieve a substantial reduction in unemployment rates during this challenging economic period reflects positively on Japan's economic resilience and policy effectiveness. Interestingly, this period coincides with the global recession that affected many countries around the world. It's important to note that Japan's labor market has unique features, such as high job security, long-term employment relationships, and a low willingness to hire and fire employees. These factors, along with Japan's strong government policies and support systems, may have contributed to the country's employment rates increasing during the recession. Japan's government implemented measures such as employment retention subsidies, which provided financial assistance to companies that retained their employees during the economic downturn, and other initiatives aimed at maintaining job security for workers. Additionally, the government's stimulus package aimed to encourage consumer spending and support small and medium-sized businesses also played a role in stabilizing Japan's economy during the recession. Overall, Japan's unique labor market, coupled with strong government support, helped the country weather the global economic crisis and even experience a boom in employment rates.*

**Ques 4.** Among ‘MDA’, ‘NAC’, ‘PAN’, ‘PAK’, ‘UGA’ which countries saw a huge jump in the unemployment numbers from 2019 to 2021, in both upward & downward direction separately?

In [48]:
# Create a list of countries to analyze
countries = ['MDA', 'NAC', 'PAN', 'PAK', 'UGA']

# Calculate change in unemployment for each country
change = []
for country in countries:
    country_df = new_df[new_df['Country_code'] == country]
    if len(country_df) < 2:
        continue
    change.append((country, (country_df['No. of unemployed'].iloc[-1] - country_df['No. of unemployed'].iloc[-3]) / country_df['No. of unemployed'].iloc[-3] * 100))

# Create new dataframe
df_change = pd.DataFrame(change, columns=['Country_code', 'Change'])

# Sort by change in unemployment in descending order
df_change.sort_values(by='Change', ascending=False, inplace=True)

# Print results
print(df_change)

  Country_code      Change
2          PAN  155.602537
4          UGA   53.125000
1          NAC   46.529563
3          PAK   22.881356
0          MDA  -22.352941

*Countries which saw a jump in unemployment rates in upward direction are: Panama, Pakistan, North America and Uganda.
The only country which saw a decrease in unployment rates is Moldova.*

**Ques 5.** What would you say about the change in percentage seen from 1991 to 2021 for the country ‘LSO’? Was it a predictable upward/downward movement? [ To see that, you may have to plot the numbers for all the years for ‘LSO’.]